
html, body {
	height: 100%;
}

body {
	margin: 0px;
	padding: 0px;
	background: #E5E5E5 url(images/wrapper-bg-01.jpg) repeat;
	font-family: 'Arvo', serif;
	font-size: 11px;
	color: #000000;
}

h1, h2, h3 {
	margin: 0px;
	padding: 0px;
	font-family: 'Cookie', cursive;
}

p, ol, ul {
	margin-top: 0px;
}

strong {
}

a {
	color: #0000FF;
}

a:hover {
	text-decoration: none;
}

a img {
	border: none;
}

img.border {
}

img.alignleft {
	float: left;
}

img.alignright {
	float: right;
}

img.aligncenter {
	margin: 0px auto;
}

hr {
	display: none;
}

/** WRAPPER */

#wrapper {
	min-height: 100%;
	height: 100%;
	background: url(images/wrapper-bg-02.jpg) repeat-x left top;
}

#wrapper-bg {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	background: url(images/wrapper-bg-03.jpg) repeat-y center top;
}

#wrapper-bgtop {
	overflow: hidden;
	background: url(images/wrapper-bg-04.jpg) no-repeat center top;
}

.container {
	width: 900px;
	margin: 0px auto;
}

.clearfix {
	clear: both;
}

/** HEADER */

#header {
	overflow: hidden;
	height: 360px;
}

/** LOGO */

#logo {
	height: 360px;
}

#logo h1, #logo p {
	margin: 0px;
	line-height: normal;
	text-align: center;
}

#logo h1 a {
	display: block;
	margin: 0px;
	padding: 60px 0px 15px 0px;
	letter-spacing: -1px;
	text-shadow: 1px 1px 1px #FFFFFF;
	font-size: 74px;
	font-weight: 400;
	text-decoration: none;
	color: #4F4E4E;
}

#logo p {
	letter-spacing: -2px;
	text-shadow: 1px 1px 1px #FFFFFF;
	font-size: 22px;
	color: #B5B5B5;
}

#logo p strong {
	font-weight: 400;
	color: #7A7A7A;
}

/** MENU */

#menu {
	height: 99px;
}

#menu ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
	line-height: normal;
}

#menu li {
	float: left;
}

#menu a {
	text-decoration: none;
}

#menu a:hover {
	text-decoration: underline;
}

/** PAGE */

#page {
	overflow: hidden;
	width: 880px;
	padding: 10px 10px 20px 10px;
}

/** CONTENT */

#content {
}

/** SIDEBAR */

#sidebar {
}

/** FOOTER */

#footer {
	overflow: hidden;
	margin: 0 0 120px 0;
}

#footer p {
	margin: 0px;
	padding: 0px 0px 0px 0px;
	text-align: center;
	text-shadow: 1px 2px 1px #FFFFFF;
	font-size: 14px;
	color: #9F9F9F;
}

#footer-content-bg {
	overflow: hidden;
	height: 240px;
	background: url(images/footer-bg.jpg) no-repeat left top;
}

#footer-content h2 {
	padding: 32px 0px 0px 0px;
	letter-spacing: -1px;
	text-align: center;
	text-shadow: 1px 1px 1px #A3ADB8;
	font-size: 38px;
	font-weight: 400;
	color: #232528;
}

#footer-content .icon-box {
	overflow: hidden;
	width: 248px;
	margin: 0px auto;
}

ul.style1 {
	margin: 0px;
	padding: 5px 0px 0px 0px;
	list-style: none;
}

ul.style1 li {
	float: left;
	margin: 0px 4px;
}

ul.style1 a {
}

ul.style1 .img-border {
	width: 60px;
	height: 60px;
	padding: 12px 0px 0px 12px;
	background: url(images/footer-icon-border-01.png) no-repeat left top;
}

#slidertron-box {
	overflow: hidden;
	width: 900px;
	height: 340px;
	margin: 0px auto;
}

#slider {
	position: relative;
	width: 900px;
	height: 340px;
	background: url(images/slidertron-divider-bg.jpg) no-repeat left top;
}

#slider .viewer {
	position: absolute;
	top: 0;
	left: 0;
	width: 600px;
	height: 375px;
	overflow: hidden;
}

#slider .reel {
}

#slider .slide {
	width: 600px;
	height: 375px;
}

#slider .slide ul {
	margin: 0px;
	padding: 10px 0px 0px 0px;
	list-style: none;
}

#slider .slide li {
	float: left;
}

#slider .captions {
	position: absolute;
	top: 0;
	right: 0;
	width: 240px;
	height: 230px;
	padding: 0px 0px 0px 30px;
}

#slidertron .slide .caption1, #slidertron .slide .caption2 {
	display: none;
}

#slider .slide .caption1, #slidertron .slide .caption2 {
	display: none;
}

#slider .captions .captionLine1 {
	display: block;
	padding: 20px 0px 20px 0px;
	text-shadow: 1px 2px 1px #FFFFFF;
	font-family: 'Cookie', cursive;
	font-size: 45px;
	color: #3E3E3E;
}

#slider .captions .captionLine2 {
	display: block;
	line-height: 160%;
	letter-spacing: -1px;
	text-shadow: 1px 2px 1px #FFFFFF;
	font-family: "Arvo", "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: 400;
	color: #909090;
}

#slidertron .captions .captionLine1 {
	font-size: 45px;
}

#slidertron .captions .captionLine2 {
}

#slider .buttons {
	position: absolute;
	width: 240px;
	height: 125px;
	bottom: 0;
	right: 0;
	padding: 20px 0px 0px 30px;
	text-indent: -999999em;
}

#slider .previous-button {
	display: block;
	float: left;
	width: 58px;
	height: 58px;
	padding-right: 15px;
	background: url(images/slidertron-icon-01.png) no-repeat left top;
	outline: 0;
}

#slider .next-button {
	display: block;
	float: left;
	width: 58px;
	height: 58px;
	background: url(images/slidertron-icon-02.png) no-repeat left top;
	outline: 0;
}

#slider .disabled {
	opacity: 0.50;
}

.gallery {
	margin: 0 auto;
}

.gallery a {
	display: inline-block;
	overflow: hidden;
	width: 135px;
	height: 135px;
	padding: 15px 0px 0px 15px;
	background: url(images/slidertron-thumb-bg.png) no-repeat left top;
}

.gallery a img {
	display: block;
}

.poptrox-popup {
	border: 1px solid #CECECE;
	padding: 5px;
	background-color: #FFFFFF;
}

.poptrox-popup .closer {
	display: block;
	background: url(images/poptrox-closer.png) no-repeat left top;
	width: 47px;
	height: 49px;
	position: absolute;
	top: -1px;
	right: -48px;
	text-indent: -99999em;
}

.poptrox-popup .loader {
	background: url(images/loader.gif) no-repeat center 50%;
}

/** IMAGE BORDER STYLE 1 */

.image-style1 {
	position: relative;
	width: 280px;
	height: 310px;
}

.image-style1 span {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.image-style1 img {
	position: absolute;
	top: 15px;
	left: 15px;
}

.image-style1a span {
	background: url(images/pics-border-bg.png) no-repeat left top;
}

#box1 {
	float: left;
	padding-right: 20px;
}

#box2 {
	float: left;
}

#box3 {
	float: right;
}

.box {
	position: relative;
	width: 280px;
	height: 310px;
}

.box .title {
	position: absolute;
	width: 280px;
	top: 230px;
	left: 0;
	text-align: center;
	font-family: 'Cookie', cursive;
	font-size: 35px;
	color: #3E3E3E;
}

.box .title a {
	text-decoration: none;
	color: #3E3E3E;
}

/** IMAGE BORDER STYLE 2 */

.image-style2 {
	position: relative;
	width: 580px;
	height: 310px;
}

.image-style2 span {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
}

.image-style2 img {
	position: absolute;
	top: 15px;
	left: 15px;
}

.image-style2a span {
	background: url(images/pics-border-bg3.png) no-repeat left top;
}

.doublebox {
	position: relative;
	width: 580px;
	height: 310px;
}

.doublebox .title {
	position: absolute;
	width: 520px;
	top: 15px;
	left: 330px;
	text-align: left;
	font-size: 14px;
	color: #3E3E3E;
}

.doublebox .title a {
	text-decoration: none;
	font-weight: 400;
	color: #7a7a7a;
}

/** OTHER STUFF **/

.lower_caption {
	text-align: center;
	font-family: 'Cookie', cursive;
	font-size: 35px;
	color: #B5B5B5;
}

.lower_caption  a{
	text-decoration: none;
	color: #B5B5B5;
	}